<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card *ngIf="!card" class="matcard" fxLayout.xs="row" fxFlex.xs="95">
        <input fxLayout="row" placeholder="Take a note..." class="input" (click)="cardSwap()" />
        <mat-icon matTooltip="New list" class="three-buttons">check_box</mat-icon>
        <mat-icon matTooltip="New note with drawing" class="three-buttons">brush</mat-icon>
        <mat-icon matTooltip="New note with image" class="three-buttons">insert_photo</mat-icon>
    </mat-card>
    <mat-card class="list-view-mat-card" *ngIf="card" fxLayout.xs="row" fxFlex.xs="95">
        <form [formGroup]="createNoteForm">
            <input fxLayout="row" type="text" placeholder="Title" name="title" formControlName="title">
            <p fxLayout="row">
                <textarea name="content" placeholder="Take a note" formControlName="takeNote"></textarea>
            </p>

            <div class="border" fxLayout="row" fxFlex.xs="95">
                <app-icons-component></app-icons-component>
                <button mat-stroked-button class="close" (click)="onSubmitted()">
                    Close
                </button>
            </div>
        </form>
    </mat-card>
</div>