<div class="dashboard-container">
    <mat-toolbar>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();" class="menu-button">menu</mat-icon>
        </button>

        <div class="image-container">
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png">
        </div>
        <span class="fundoo">Fundoo</span>
        <div class="Search">
            <mat-form-field appearance="outline" [style.width.px]="600">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search">
            </mat-form-field>
        </div>
        <mat-icon class="three-icons1">refresh</mat-icon>
        <mat-icon class="three-icons2">view_stream</mat-icon>
        <mat-icon class="three-icons3">settings</mat-icon>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" [opened]="true">
            <div class="menu-container">
                <mat-nav-list>
                    <div mat-button id="sidenav-button">
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon" (click)="notes()">lightbulb</mat-icon>
                            Notes
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">notifications</mat-icon>
                            Reminder
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">edit</mat-icon>
                            Edit Labels
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">archive</mat-icon>
                            Archive
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">delete</mat-icon>
                            Trash
                        </button>
                    </div>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet>

            </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



