<div class="displayNotes" fxLayout="row wrap" fxLayoutAlign="flex-start">
  <div class="getAllNotes" *ngFor="let response of notesArrayList" fxFlex.sm="100%" [style.background]="response.color">
    <mat-card>
      <mat-card-title-group>
        <h2 class="heading" (click)="openDialog(response)">{{response.title}}</h2>
        <div class="pushPin">
          <mat-icon matTooltip="Pin note">push_pin</mat-icon>
        </div>
        <p class="paragraph" (click)="openDialog(response)">{{response.message}}</p>
        <div class="icons">
          <mat-card-actions>
            <app-icons-component [CardObject]="response" (changeColorOfNote)="colorMessageReceived($event)"></app-icons-component>
          </mat-card-actions>
        </div>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>
