.getAllNotes{
    width: 78%;
    height: auto;
    background-color:#fff;
    height: auto;
    // border: 0.5px solid #ffffff;
    box-shadow: 0 1px 7px rgb(126, 124, 124);
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 20px;
}
.displayNotes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-left: 120px;
}
.heading{
    opacity: 0.8;
}
