.getAllNotesIcon{
  border: 5px solid transparent;
    height: 20px;
    width: auto;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: -5%;
}

  button{
    opacity: 0.8;
    margin-left: 5px;
}
.MatMenu{
  height: 20px;
  margin-bottom: 90px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  background-color: #fff;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Color{
  display: grid;
  margin-right: 10px;
  cursor: pointer;
}
.trashIcons{
  border: 5px solid transparent;
    height: 20px;
    width: 50%;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 20%;
    justify-content: space-between;
}
.ArchiveNotesIcon{
  border: 5px solid transparent;
    height: 20px;
    width: 50%;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: -5%;
}