<div class="border" fxLayout="row" fxLayout.xs="row" fxFlex="50" fxFlex.xs="95">
    <button mat-icon-button>
        <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>palette</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button (click)="archive()">
        <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="MatMenu" (click)="trash()">
            <span >Delete note</span>
        </button>
    </mat-menu>
</div>
