<mat-card >
    <form>
        <input fxLayout="row" type="text" placeholder="Title" name="title" [(ngModel)]="title">
        <p>
            <textarea fxLayout="row" name="content" placeholder="Take a note" [(ngModel)]="message"></textarea>
        </p>
        
        <div class="border" fxlayout="row" fxLayoutAlign="space-between center" fxLayout.xs="row">
            <app-icons-component [CardObject]="{trash:false,archive:false}"></app-icons-component>
            <button mat-stroked-button class="close" (click)="onSubmitted()">
                Close
            </button>
        </div>
    </form>
</mat-card>
