<div class="resetPassword-container">
    <h1>
        <span class="c1">F</span>
        <span class="c2">u</span>
        <span class="c3">n</span>
        <span class="c4">d</span>
        <span class="c5">o</span>
        <span class="c6">o</span>
    </h1>

    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitted()">
        <div class="enterPassword-container" FxLayoutAlign="space-evenly center">
            <mat-form-field appearance="outline" fxFlex.xs="100">
                <mat-label>password</mat-label>
                <input matInput [type]="passwordHide ? 'password' : 'text'" placeholder="password" formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex.xs="100">
                <mat-label>confirm password</mat-label>
                <input matInput [type]="passwordHide ? 'password' : 'text'" placeholder="confirm password" formControlName="confirmPassword">
            </mat-form-field>
            <div class="Checkbox" fxLayout="row" fxLayoutAlign="start" fxFlex.xs="95">
                <img src="https://cdn3.iconfinder.com/data/icons/show-and-hide-password/100/show_hide_password-08-512.png" 
                     (click)="passwordHide = !passwordHide" id="eye">
                     <span class="showPassword" color="primary">Show Password</span>
              </div>
            <div class="nextButton">
                <button mat-raised-button>Next</button>
            </div>
        </div>
    </form>
</div>